.navbar-nav .nav-link {
    color: blue !important;
}

.navbar-nav .nav-link:hover {
    color: red !important;
}

body {
    font-family: 'Ranchers', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

